<footer>
  <div class="container">
    <div class="row gy-5">
      <div class="col-md-4">
        <div class="img-logo text-center">
          <img src="../../assets/main_logo.webp" class="w-50" alt="" srcset="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="links">
          <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="f_social_icon">
          <a target="_blank" href="https://www.facebook.com/m3aarfcom" class="fab fa-facebook" aria-hidden="true"></a>
          <a target="_blank" href="https://twitter.com/M3aarfcom" class="fab fa-twitter" aria-hidden="true"></a>
          <a target="_blank" href="https://www.linkedin.com/company/mindluster" class="fab fa-linkedin" aria-hidden="true"></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCWTWubvuRKoT0BwvmRCFwXA" class="fab fa-youtube" aria-hidden="true"></a>
          <a target="_blank" href="https://t.me/mindluster" class="fab fa-telegram" aria-hidden="true"></a>
          </div>
      </div>
    </div>
  </div>
</footer>


