<div class="Courses ">
  <div class="container py-5">
    <h2 class="mb-5 text-center">Courses</h2>


      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="">
            <div class="course-card shadow">
              <div class="card-img ">
                <a href="https://www.mindluster.com/certificate/8858/E-Business" target="_blank">
                  <img src="../../assets/developer.webp" class="w-100" alt="">
                  <span class="play"><i class="fa-solid fa-play"></i></span>
                </a>
              </div>
              <div class="card-info">
                <h4 class="m-0">E Business</h4>
              </div>
              <div class="card-footer ">
                <div class="bgMainColor text-white py-1 px-2 rounded-pill">New Course</div>
                <div class="bgSecColor text-white py-1 px-2 rounded-pill">60 Lessons</div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="">
            <div class="course-card shadow">
              <div class="card-img ">
                <a href="https://www.mindluster.com/certificate/8857/Marketing-research-and-analysis" target="_blank">
                  <img src="../../assets/handshake-close-up-executives.jpg" class="w-100" alt="">
                  <span class="play"><i class="fa-solid fa-play"></i></span>
                </a>
              </div>
              <div class="card-info ">
                <h4 class="m-0">Marketing research and analysis</h4>
              </div>
              <div class="card-footer ">
                <div class="bgMainColor text-white py-1 px-2 rounded-pill">New Course</div>
                <div class="bgSecColor text-white py-1 px-2 rounded-pill">40 Lessons</div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="">
            <div class="course-card shadow">
              <div class="card-img ">
                <a href="https://www.mindluster.com/certificate/8857/Marketing-research-and-analysis" target="_blank">
                  <img src="../../assets/developer.webp" class="w-100" alt="">
                  <span class="play"><i class="fa-solid fa-play"></i></span>
                </a>
              </div>
              <div class="card-info ">
                <h4 class="m-0">Marketing research and analysis</h4>
              </div>
              <div class="card-footer ">
                <div class="bgMainColor text-white py-1 px-2 rounded-pill">New Course</div>
                <div class="bgSecColor text-white py-1 px-2 rounded-pill">40 Lessons</div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="">
            <div class="course-card shadow">
              <div class="card-img ">
                <a href="https://www.mindluster.com/certificate/8857/Marketing-research-and-analysis" target="_blank">
                  <img src="../../assets/handshake-close-up-executives.jpg" class="w-100" alt="">
                  <span class="play"><i class="fa-solid fa-play"></i></span>
                </a>
              </div>
              <div class="card-info ">
                <h4 class="m-0">Marketing research and analysis</h4>
              </div>
              <div class="card-footer ">
                <div class="bgMainColor text-white py-1 px-2 rounded-pill">New Course</div>
                <div class="bgSecColor text-white py-1 px-2 rounded-pill">40 Lessons</div>
              </div>
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>
      <button pButton pRipple label="All Courses" class="p-button-warning bgSecColor d-block mx-auto my-5 button-a"></button>

  </div>
</div>
