<div class="panner1">
  <div class="layer">
    <div class="row g-5 px-5">
      <div class="col-md-5">
        <div class="img-panner">
          <img src="../../assets/2297751.png" width="40%" class="" alt="" srcset="">

        </div>
      </div>
      <div class="col-md-7 d-flex mt-3  align-items-center">
        <div class="p-0 m-0">
          <h3>MindLuster For Business</h3>
          <p class="fs-6">Advance your career in finance, marketing,<br>
            management & leadership</p>
            <p-button label="Grow Your Business Now" styleClass="p-button-outlined p-button-success bgMainColor py-2 fs-7 text-white"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Categories">
  <div class="container py-5">
    <h2 class="mb-5 text-center">Categories</h2>
    <div class="row g-5 px-5">
      <div class="col-md-4">
        <div class="category-card shadow-sm">
          <i class="fa-solid fa-code mainColorText fs-1 my-4"></i>
          <h4 class="mb-3">Programming</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, accusamus?</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-card shadow-sm">
          <i class="fa-solid fa-pen-nib mainColorText fs-1 my-4"></i>
          <h4 class="mb-3">Graphic Design</h4>
          <p>Lorem ipsum Dolor, sit amet consectetur adipisicing elit. Atque, accusamus?</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-card shadow-sm">
          <i class="fa-solid fa-briefcase mainColorText fs-1 my-4"></i>
          <h4 class="mb-3">Business</h4>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, accusamus?</p>
        </div>
      </div>
    </div>
    <button pButton pRipple label="All Categories" class="p-button-success bgMainColor d-block mx-auto my-5 button-a"></button>

  </div>
</div>
<div class="panner">
  <div class="layer">
    <div class="row g-5 px-5">
      <div class="col-md-5">
        <div class="img-panner">
          <img src="../../assets/3301603.png" width="40%" class="" alt="" srcset="">

        </div>
      </div>
      <div class="col-md-7 d-flex mt-3 align-items-end">
        <div class="p-0 m-0">
          <h3>Become a Developer</h3>
          <p>Top Programming Courses around the world,<br>
            We provide the tools and skills to teach what you love.</p>
            <p-button label="Start Coding Today" styleClass="p-button-outlined p-button-success bgMainColor py-2 fs-7 text-white"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
