<div class="home">
  <div class="container ">
    <div class="row gy-5 gx-5">
      <div class="col-md-6 home-img">
        <img src="../assets/home_img.jpg" alt="" width="100%" srcset="">
      </div>
      <div class="col-md-6 home-info">
        <div class=" mx-auto">
          <h1>Learn by <span class="secColorText">Better</span> way <br>
            <span class="mainColorText">From better Place</span></h1>
            <p class="fw-medium text-muted">300,000 Online Courses and MOOCs <br>
              With Free Certificates in one place</p>
              <button pButton pRipple label="Start Now" class="p-button-success bgSecColor w-100"></button>
        </div>
      </div>

    </div>
  </div>
</div>
